*.retry
.vagrant
*.cfg
/code
common.env
daemon.json
dev_config.yaml
vars.yaml
input
*.log
# Contrail Source Paths
contrail-container-builder
contrail-deployers-containers
contrail-specs
contrail-tripleo-heat-templates
contrail-web-controller
contrail-web-core
contrail-webui-third-party
controller
java-api
openstack
src
tf-charms
third_party
tools
vcenter-fabric-manager
vcenter-manager
vcenter-plugin
vijava
vro-plugin
vrouter
vrouter-java-api
.scon*
.stages
BUILD
build
BUILDROOT
RPMS
SOURCES
SPECS
SRPMS
SRPMSBUILD
